@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');

body{
    margin: 0 100px;
    background-color: #e9ebec;
    font-family: 'Livvic', sans-serif;  
}

a{
    text-decoration: none;
    color: #000000;
}

ul{
    list-style: none;
}

.menu-bars{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    display: none;
}

#topbar{
    background-color: #6AC1D4;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    color: #ffffff;
    height: 8vh;
    padding-top: 1px;
}

#topbar div{
    margin-left: 1rem;
    margin-top: -10px;
}

#topbar img{
    width: 10vh;
    margin-top: 0.8rem;
}

#topbar .festival{
    border-right: 1px solid #ffffff;
    
}

#topbar .live{
    background-color: #ffffff;
    color: #000000;
    padding: 0.1rem 0.9rem;
    margin-top: 18px;
}

/* nav */
section#topmenu nav.main-nav{
    display: flex;
    grid-template-columns: 1fr 2fr;
    grid-gap: 15rem;
    font-weight: 600;   
}
section#topmenu nav.main-nav a.star{
    color: #f6a81e;
    font-size: 11px;
}
section#topmenu nav.main-nav ul.main-menu{
    font-size: 12px;
    margin-left: 11rem;
}
section#topmenu nav.main-nav ul a{
    color: #d2d2d4;
}
section#topmenu nav.main-nav ul a.pum{
    color: #000000;
}
section#topmenu nav.main-nav ul a.pay:hover{
    color: #3DB0FD;
}
section#topmenu nav.main-nav ul a.food:hover{
    color: #FF9900;
}
section#topmenu nav.main-nav ul a.party:hover{
    color: #C48E2C;
}
section#topmenu nav.main-nav ul a.now:hover{
    color: #E85B31;
}

section#topmenu ul{
    display: flex;
    justify-content: space-between;
    grid-gap: 1rem;
    font-size: small;
    color: #000000;  
}
section#head ul{
    display: flex;
    justify-content: space-between;
    grid-gap: 1rem;
    font-size: small;
    color: #000000;
}
section#topmenu nav.main-nav .fa-star{
    font-size: 5px;
}

/* nav-2 */
section#head {
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px #ccc;
    -moz-box-shadow: 0 8px 6px -6px #ccc;
    box-shadow: 0 8px 6px -6px #ccc;
    position: fixed;
    width: 100%;
    height: 11vh;
    margin-left: -100px;
    color: #000000;
    margin-top: 1px;
}

section#head div{
    display: flex;
    justify-content: space-between;
    margin:  20px 100px;

}

section#head div .cart{
    font-size: xx-large;
    font-weight: 900;
}
section#head div form.form2{
    display: none;
}

section#head input{
    width: 35rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid #d2d2d4;
    margin-left: 3rem;

}

section#head ::placeholder{
    font-size: 1rem;
}

section#head .btn-1{
    background-color: #E4811C;
    width: 5rem;
    height: 2.7rem;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #E4811C;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px #ccc;
}

body ul.header-menu{
    display: none;
}

section#landing ul{
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px #ccc;
    -moz-box-shadow: 0 8px 6px -6px #ccc;
    box-shadow: 8px 8px 6px -6px #ccc;
    border-radius: 0.3rem;
    margin-top: 0.0rem;
    margin-left: 0.1rem;
    width: 15rem;
}

section#landing ul li{
    margin-left: -2rem;
    line-height: 2.3rem;   
}

section#landing div.showcase{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

section#landing div.showcase img.center{
    width: 47.5rem;
    height: 27.5rem;
    border-radius: 0.3rem;
}

section#landing div.showcase div> img.side-gif1{
    width: 14rem;
    height: 13.5rem;
    border-radius: 0.3rem;
}

section#landing div.showcase div> img.side-gif2{
    width: 14rem;
    height: 13.5rem;
    border-radius: 0.3rem;
}

section#tabs .tabs-column-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}

section#tabs .tabs-column-1 p{
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem;

}

section#tabs .tabs-column-1 .tab-1{
    border-radius: 0.3rem;
    width: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #ffffff;
    font-size: 1.2rem;
}

section#tabs .tabs-column-1 .tab-1 div.icon{
    background-color: #0040CE;
    width: 1rem;
    height: 2.5rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    border-radius: 5rem 5rem 5rem 5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

section#tabs .tabs-column-1 .tab-1 i{
    margin-left: -1rem;
    margin-top: 0.4rem;
    color: #ffffff;
}

section#tabs .tabs-column-1 .tab-2{
    border-radius: 0.3rem;
    width: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #ffffff;
    font-size: 1.2rem;
}

section#tabs .tabs-column-1 .tab-2 div.icon{
    background-color: #d2d2d4;
    width: 1rem;
    height: 2.5rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    border-radius: 5rem 5rem 5rem 5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

section#tabs .tabs-column-1 .tab-2 i{
    margin-left: -1rem;
    margin-top: 0.4rem;
    color: #276076;
}

section#tabs .tabs-column-1 .tab-3{
    border-radius: 0.3rem;
    width: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #ffffff;
    font-size: 1.2rem;
}

section#tabs .tabs-column-1 .tab-3 div.icon{
    background-color: #FF9900;
    width: 1rem;
    height: 2.5rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    border-radius: 5rem 5rem 5rem 5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

section#tabs .tabs-column-1 .tab-3 i{
    margin-left: -1rem;
    margin-top: 0.4rem;
    color: #ffffff;
}

section#tabs .tabs-column-1 .tab-4{
    border-radius: 0.3rem;
    width: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #ffffff;
    font-size: 1.2rem;
}

section#tabs .tabs-column-1 .tab-4 div.icon{
    background-color: #3DB0FD;
    width: 1rem;
    height: 2.5rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    border-radius: 5rem 5rem 5rem 5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

section#tabs .tabs-column-1 .tab-4 i{
    margin-left: -1rem;
    margin-top: 0.4rem;
    color: #ffffff;
}
/* @media screen and (max-width: 1440px){
    section#landing ul{
        width: 12.3rem;
        height: 23.5rem;
    }
    
    section#landing ul li{
        line-height: 1.95rem;   
    }

    section#landing div.showcase img.center{
        width: 40.8rem;
        height: 23.5rem;
    }
    
    section#landing div.showcase div> img.side-gif1{
        width: 14rem;
        height: 11.6rem;
    }
    
    section#landing div.showcase div> img.side-gif2{
        width: 14rem;
        height: 11.6rem;
    }
    section#tabs .tabs-column-1{
        display: flex;
        justify-content: space-between;
    }
    
    section#tabs .tabs-column-1 .tab-1 i{
        margin-left: -1.3rem;
        margin-top: 0.1rem;
        color: #ffffff;
        font-size: smaller;
    }
    
    section#tabs .tabs-column-1 .tab-1 div.icon{
        width: 0.5rem;
        height: 2.0rem;
        margin-top: 0.5rem;
        margin-left: -0.5rem;
    }

    section#tabs .tabs-column-1 p{
        font-size: 0.9rem;
        font-weight: bolder;
        margin-top: 1.2rem;
        padding-right: 5rem;
    }

    
    section#tabs .tabs-column-1 .tab-1{
        width: 15rem;
        height: 3.5rem;
        font-size: 1.2rem;
        
    }
    
    section#tabs .tabs-column-1 .tab-2{
        display: flex;
        background: #ffffff;
        justify-content: space-between;
        font-size: 1.2rem;
        width: 20%;
    }
    
    section#tabs .tabs-column-1 .tab-3{
        display: flex;
        background: #ffffff;
        justify-content: space-between;
        width: 20%;
    
        
    }
    
    section#tabs .tabs-column-1 .tab-4{
        display: flex;
        background: #ffffff;
        justify-content: space-between;
        width: 20%;
    }
    
} */

@media screen and (max-width: 786px) {
    #topbar, #topmenu{
        display: none;
      }
  
    .menu-bars{
        display: block;
    }

    .menu-bars:hover{
        opacity: 0.5;
    }    

    body ul.header-menu{
        display: block;
        position: absolute;
        top: 25px;
        left: -30px;
        font-size: 0.6rem;
        word-spacing: 0.1rem;
        line-height: 1.5rem;
        background: #ffffff;
        width: 90%;
        height: 250%;
        border-right: #ccc 1px solid;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
        z-index: 99;
    }
    body ul.header-menu.show{
        transform: translateX(-0px);
    }

    body ul.header-menu p{
        border-top: #cccc solid 1px;
        width: 95%;
    }

    /* ul.header-menu p:last-child{
        border-top: 0;
    } */

    section#head{
        box-shadow: none;
        width: 100vw;
        height: 6rem;
        margin-left: -100px;
        margin-top: -6rem; 
        position: fixed;   
        z-index: 1;
    }

    section#head div{
        margin-top: 0.6rem;
        margin-left: 2.5rem;
    }

    section#head .header a.cart{
        font-size: 1rem;
    }

    /* section#head .header ul i{
        margin-left: 2rem;
        padding-top: -2rem;

    } */

    section#head .header .link-title{
        display: none;
    }

    section#head .header .fa-chevron-down{
        display: none;
    }

    section#head .header .fa-question-circle{
        display: none;
    }

    section#head div form.form1{
        display: none;
    }
    
    section#head div form.form2{
        display: block;
    }
    
    section#head div.header2{
        background: #ffffff;
        width: 100vw;
        margin-left: 0rem;
        margin-top: -1.2rem;
        position: fixed;
    }
    section#head div.header2 input{
        width: 95vw;
        height: 1.5rem;
        border-radius: 15px;
        border: 1px solid #d2d2d4;
        margin-left: 0.3rem;
    }
    
    section#head ::placeholder{
        font-size: 0.8rem;
    }
    
    /* landing */
    section#landing div.showcase ul{
        display: none;
    }
    section#landing div.showcase img.center{
        margin-left: -6.5rem;
        width: 20rem;
        height: 8rem;
        border-radius: 0.3rem;
    }
    
    section#landing div.showcase div> img.side-gif1{
        display: none;
    }
    
    section#landing div.showcase div> img.side-gif2{
        display: none;
    }
----------------------------------------------
    section#tabs .tabs-column-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
    }
    
    section#tabs .tabs-column-1 p{
        font-size: 1.2rem;
        font-weight: bold;
        margin-right: 1rem;
    
    }
    
    section#tabs .tabs-column-1 .tab-1{
        border-radius: 0.3rem;
        width: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: #ffffff;
        font-size: 1.2rem;
    }
    
    section#tabs .tabs-column-1 .tab-1 div.icon{
        background-color: #0040CE;
        width: 1rem;
        height: 2.5rem;
        padding-left: 2rem;
        padding-top: 0.5rem;
        border-radius: 5rem 5rem 5rem 5rem;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }
    
    section#tabs .tabs-column-1 .tab-1 i{
        margin-left: -1rem;
        margin-top: 0.4rem;
        color: #ffffff;
    }
    
    section#tabs .tabs-column-1 .tab-2{
        border-radius: 0.3rem;
        width: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: #ffffff;
        font-size: 1.2rem;
    }
    
    section#tabs .tabs-column-1 .tab-2 div.icon{
        background-color: #d2d2d4;
        width: 1rem;
        height: 2.5rem;
        padding-left: 2rem;
        padding-top: 0.5rem;
        border-radius: 5rem 5rem 5rem 5rem;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }
    
    section#tabs .tabs-column-1 .tab-2 i{
        margin-left: -1rem;
        margin-top: 0.4rem;
        color: #276076;
    }
    
    section#tabs .tabs-column-1 .tab-3{
        border-radius: 0.3rem;
        width: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: #ffffff;
        font-size: 1.2rem;
    }
    
    section#tabs .tabs-column-1 .tab-3 div.icon{
        background-color: #FF9900;
        width: 1rem;
        height: 2.5rem;
        padding-left: 2rem;
        padding-top: 0.5rem;
        border-radius: 5rem 5rem 5rem 5rem;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }
    
    section#tabs .tabs-column-1 .tab-3 i{
        margin-left: -1rem;
        margin-top: 0.4rem;
        color: #ffffff;
    }
    
    section#tabs .tabs-column-1 .tab-4{
        border-radius: 0.3rem;
        width: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: #ffffff;
        font-size: 1.2rem;
    }
    
    section#tabs .tabs-column-1 .tab-4 div.icon{
        background-color: #3DB0FD;
        width: 1rem;
        height: 2.5rem;
        padding-left: 2rem;
        padding-top: 0.5rem;
        border-radius: 5rem 5rem 5rem 5rem;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }
    
    section#tabs .tabs-column-1 .tab-4 i{
        margin-left: -1rem;
        margin-top: 0.4rem;
        color: #ffffff;
    }  
}
  